@import '../../app/css/variables.css';



h1 {
    text-align: end;
}

h1, h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

ul {
    list-style-image: url('/static/pages/img/ul-arrow.svg');
}

<!-- li > a {

    text-decoration-color: red;
    color: red;
}
-->

a {
  text-decoration-color: red;
}

article.main-f-block {
    gap: 40px;
    align-items: center;
}

article.main-f-block > div.img {
    gap: 30px;
}

article > figure {
    max-width: 200px;
    max-height: 411px;

    width: 100%;
    height: 100%;
}
path.red {
    stroke: var(--dark-red);
}

.red {
    color: var(--dark-red);
} 

section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-text {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


@media screen and (max-width: 768px) { 
    article.main-f-block {
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: 0 auto;
    }

}

article.splines-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    font-family: Montserrat, sans-serif; /* Устанавливаем шрифт для всех дочерних элементов */
    font-size: 20px; /* устанавливаем размер шрифта для всех */
}

article.splines-block > figure {
    grid-column: 3/6;
    grid-row: 1/4;
}

/* Размещаем 10 точек */

article.splines-block > #first-point {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
}
article.splines-block > #first-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}
article.splines-block > #second-point {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
}
article.splines-block > #second-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #third-point {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
}
article.splines-block > #third-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #fourth-point {
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
}
article.splines-block > #fourth-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #fifth-point {
    grid-column: 5/6;
    grid-row: 1/2;
    display: flex;
}
article.splines-block > #fifth-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #sixth-point {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
}
article.splines-block > #sixth-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #seventh-point {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
}
article.splines-block > #seventh-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #eighth-point {
    grid-column: 3/4;
    grid-row:    2/3;
    display: flex;
}
article.splines-block > #eighth-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #ninth-point {
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
}
article.splines-block > #ninth-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}

article.splines-block > #tenth-point {
    grid-column: 5/6;
    grid-row: 2/3;
    display: flex;
}
article.splines-block > #tenth-point img {
    /* Добавьте стили для картинки, если нужно */
    margin-left: 20px; /* Отступ между текстом и картинкой */
}


figure.spline {
    width: 100%;
    height: 100%;
}