section.shape__content {
    width: 100%;

    gap: 40px;
}

section.shape__content > article.card,
section.shape__content > article.card > ul > li {
    font-size: 22px;
}

section.flex-img-list {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
}

section.flex-img-list > figure {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.flex-img-list > figure > img {
    object-fit: cover;    
}