section.whoisvygem__content {
    width: 100%;
    
    gap: 40px;
}

section.whoisvygem__content > figure {
    width: 191.42px;
    height: 411px;

    object-fit: contain;
}

@media screen and (max-width: 768px) { 
    section.whoisvygem__content {
        flex-wrap: wrap;
    }
}