section.color__content {
    width: 100%;
    justify-content: sapce-between;
    aling-items: center;
    gap: 40px;
}

section.carat__content > figure {
    width: 191.42px;
    height: 411px;

    object-fit: contain;
}

@media screen and (max-width: 768px) { 
    section.carat__content {
        flex-wrap: wrap;
    }
}


.image-container {
    margin-right: 20px; /* Отступ между изображением и текстом */
}

.image-container img {
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Высота будет автоматически подстраиваться */
}

.text-container {
    max-width: 300px; /* Ограничиваем ширину текстового блока */
}