{% extends '../app/base.html' %}
{% load static %}
{% block google_tag_manager %}{% endblock %}
{% block google_tag %}{% endblock %}

{% block keywords %}
    vygem, gemstones, gemstone, gem, gems, stone, stones,  precious, ruby, emerald, sapphire, faceted, price per carat, price trends
{% endblock %}

{% block title %}
    Color gemstone
{% endblock %}

{% block description %}
    When determining the color of a gemstone, be aware of these influencing factors
{% endblock %}


{% block content %}

    <section class="flex brilliancy_gem__content">
        {% with card|safe as content %}
        {% include "../components/card.html" with card_content=content %}
        {% endwith %}
    </section>
    <div class="content-wrapper">
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_1.png' %}" alt="brilliancy_1" />
        </div>
        <div class="text-container">
            <p>
                Exceptional brilliancy. 80 - 90% + neon glow of the gemstone
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_2.png' %}" alt="brilliancy_2" />
        </div>

        <div class="text-container">
            <p>
                Exceptional brilliancy. 80 - 90%
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_3.png' %}" alt="brilliancy_3" />
        </div>

        <div class="text-container">
            <p>
                Good brilliancy. 60 - 80% + neon glow of the gemstone
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_4.png' %}" alt="brilliancy_4" />
        </div>

        <div class="text-container">
            <p>
                Good brilliancy. 60 - 80%
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_5.png' %}" alt="brilliancy_5" />
        </div>

        <div class="text-container">
            <p>
                Average brilliancy. 40 - 60% + neon glow of the gemstone
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_6.png' %}" alt="brilliancy_6" />
        </div>

        <div class="text-container">
            <p>
                Average brilliancy. 40 - 60%
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_7.png' %}" alt="brilliancy_7" />
        </div>

        <div class="text-container">
            <p>
                Poor brilliancy. 30 - 40% + neon glow of the gemstone
            </p>
        </div>
        <br>
        <hr style="border-color: red;">
        <br>
        <div class="image-container">
            <img src="{% static '/pages/img/brilliancy/brilliancy_7.png' %}" alt="brilliancy_7" />
        </div>

        <div class="text-container">
            <p>
                Poor brilliancy. 30 - 40%
            </p>
        </div>
        <br>

    </div>
<!--    <section class="flex flex-img-list">-->
<!--        <figure><img src="{% static '/pages/img/transparency/p-1.png' %}" alt=""></figure>-->
<!--        <figure><img src="{% static '/pages/img/transparency/pp-1.png' %}" alt=""></figure>-->
<!--        <figure><img src="{% static '/pages/img/transparency/np-1.png' %}" alt=""></figure>-->
<!--    </section>-->
    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/brilliancy_gem.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>
{% endblock %}