{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section class="flex color_gem__content">
        {% with card|safe as content %}
            {% include "../components/card.html" with card_content=content %}
        {% endwith %}
        <figure><img src="{% static 'pages/img/color1.png' %}" alt="color gemstones"></figure>
    </section>

    <div style='text-align:center;'>
    <h2>Basic Color Hues</h2>


    </div>

    <div style='text-align:center;'>
                 <img src="{% static '/pages/img/allcolor.png' %}" alt="color gems" />
    </div>

<!--    <p style class=" color = #ff000"> <b><i>Color Trade Name: In the gemstone market, there are trade names based on color. Stones with such color differences are valued at one and a half times or more compared to stones with similar color characteristics.</i></b></p>-->
<!--    <br>-->
<!--    <p><b>Pigeon Blood:</b><br> applies to natural ruby containing not less than 70% of one of the following colour grades: intense red;-->
<!--        bright red or deep red; uniform colour distribution, medium to strong fluorescence,-->
<!--        flawless or transparent clarity with no obvious visible inclusions below the table, good light return without significant windows or areas of attenuation and natural-->
<!--        or heated colour origin..</p>-->
<!--    <br>-->
<!--    <p><b>Padparadscha:</b><br> Applicable to Natural Sapphire containing not less than 70% of one of the following colour grades:-->
<!--        Light orangy pink; pastel-->
<!--    orangy pink; or orangy pink, an even color distribution, a flawless to transparent clarity without pronounced-->
<!--    visible inclusions below the table, a good return of light without major windowing or extinction area, and a-->
<!--    natural or heated color origin.-->

<!--    &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--    "Padparadscha sapphire is a corundum variety of any geographic origin whose color in normal daylight is a subtle mixture-->
<!--        of pink-orange to orange-pink with pastel tones and low to medium saturation." </p>-->
<!--    <br>-->
<!--    <p><b>Royal Blue:</b><br> Applicable to Natural Sapphire containing not less than 70% of one of the following colour grades:-->
<!--    Intense blue;vivid blue or deep blue, an even color distribution, a flawless to transparent clarity without pronounced-->
<!--    visible inclusions below the table, a good return of light without major windowing or extinction area, and a-->
<!--    natural or heated color origin.-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>Cornflower:</b><br> Applicable to Natural Sapphire containing not less than 70% of one of the following colour grades:-->
<!--    Intense blue; or vivid blue, an even color distribution, a transparent clarity with a small amount of turbidity-->
<!--    for a “velvety appearance” without pronounced visible inclusions below the table, a good return of light-->
<!--    without major windowing or extinction area, and a natural or heated color origin.-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>Lavender:</b><br> Applicable to Natural Sapphire containing not less than 70% of one of the following colour grades:-->
<!--    Intense violet; vivid violet or deep violet, an even color distribution, a flawless to transparent clarity without-->
<!--    pronounced visible inclusions below the table, a good return of light without major windowing or extinction area, and a-->
<!--    natural or heated color origin.-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>Teal:</b><br> Applicable to Natural Sapphire containing not less than 70% of one of the following colour grades::-->
<!--    Bluish green; intense bluish green; vivid bluish green; deep bluish green; greenish blue; intense greenish blue; vivid-->
<!--    greenish blue; or deep greenish blue, a flawless to transparent clarity without pronounced visible inclusions-->
<!--    below the table, a good return of light without major windowing or extinction area, and a natural or heated-->
<!--    color origin-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>White:</b><br> Applicable to Natural Sapphire with a colorless color grade, a flawless to transparent clarity without-->
<!--    pronounced visible inclusions below the table, a good return of light without major windowing or extinction-->
<!--    area, and a natural or heated color origin-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>Paraiba:</b><br> Applicable to Natural Cuprian Tourmaline containing not less than 70% of one of the following colour grades:-->
<!--    Pastel bluish green; bluish green; intense bluish green; vivid bluish green; deep bluish green; pastel-->
<!--    greenish blue; greenish blue; intense greenish blue; vivid greenish blue; deep greenish blue; pastel blue;-->
<!--    neon blue; intense neon blue; vivid neon blue; blue; intense blue or deep blue, an even color distribution, a-->
<!--    flawless to transparent clarity and a natural or heated color origin.-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>Santa Maria:</b><br> Applicable to Natural Aquamarine containing not less than 70% of one of the following colour grades:Pastel-->
<!--    greenish blue; greenish blue; intense greenish blue; vivid greenish blue; deep greenish blue; pastel blue;-->
<!--    neon blue; intense neon blue; vivid neon blue; blue; intense blue or deep blue, an even color distribution, a-->
<!--    flawless to transparent clarity and a natural color origin.-->
<!--    </p>-->
<!--    <br>-->
<!--    <p><b>Muzo Green:</b><br> Applicable to Natural Emerald with very low to no presence of ion Fe2+ and containing not less than 70% of one of the following colour grades: Intense green; vivid green or deep green, an even color distribution, a flawless to-->
<!--    transparent clarity, a natural color origin and none to a minor amount of clarity modification.-->
<!--    </p>-->
<!--    <br>-->

    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/color_gem.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>

{% endblock %}