{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section class="flex cut_gem__content ites-center">
        {% with main_card|safe as content %}
            {% include "../components/card.html" with card_content=content %}
        {% endwith %}
        <figure><img src="{% static '/pages/img/cut.png' %}" alt=""></figure>
    </section>

    <section class="flex flex-col card-list">
        {% for card in cards %}
        {% include "../components/card.html" with card_content=card %}
        {% endfor %}
    </section>
    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/cut_gem.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>
{% endblock %}

