{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section class="flex gemologist__content">
        {% with card|safe as content %}
            {% include "../components/card.html" with card_content=content %}
        {% endwith %}
        <figure><img src="{% static '/pages/img/gemologist2.png' %}" alt=""></figure>
    </section>

    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/gemologist.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>
{% endblock %}