{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section>
        <article class="flex justify-between main-f-block">
            <div class="flex flex-col img">
                <figure>
                <!-- Заменяем изображение на видео -->
                <video controls autoplay muted>
                    <source src="{% static '/pages/videos/vygem.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                </figure>
                <div class="flex justify-between">

                    <figure>
                        <a href="https://play.google.com/store/apps/details?id=info.vygem.vygem"><img src="{% static '/pages/img/googleplay.png' %}" alt=""></a>
                    </figure>
                </div>
            </div>
            <div class="main-text">
                <h1 class="red">... a few answers to questions and you<br>know the Value of Your GEMstone ...</h1>
                <p>
                    <b><a class="red" href="{% url 'whoisvygem' %}">Introducing VYGEM</a>,</b>
                    <br>
                     <p>
                        an innovative application engineered for the valuation of gemstones, addressing the challenge posed by the lack of
                a standardized pricing system in the gem market.
                It's important to note that our program calculates price per carat based on prevailing market price trends,
                rather than a fixed standard. Developed through the collaborative expertise of seasoned gem mologists,
                coupled with cutting-edge artificial intelligence and real-time gemstone market monitoring,
                Vygem offers a user-friendly platform suitable for both experienced professionals and newcomers in the realm
                of precious stone assessment.
                    </p>
                    <pre ><a class="red" href="{% url 'download' %}">Download</a>      <a class="red" href="{% url 'pay' %}">Free and paid versions of Vygem</a>      <a class="red" href="{% url 'refund' %}">Refund Policy</a></pre>


            </div>
        </article>

            <article class="grid splines-block relative">
                
    </section>

{% endblock %}

