{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section>
        <article class="flex justify-between main-f-block">
            <div class="flex flex-col img">
                <figure>
                <!-- Заменяем изображение на видео -->
                <video controls autoplay muted>
                    <source src="{% static '/pages/videos/vygem.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                </figure>
                <div class="flex justify-between">

                    <figure>
                        <a href="https://play.google.com/store/apps/details?id=info.vygem.vygem"><img src="{% static '/pages/img/googleplay.png' %}" alt=""></a>
                    </figure>
                </div>
            </div>
            <div class="main-text">
                <h1 class="red">... a few answers to questions and you<br>know the Value of Your GEMstone ...</h1>
                <p>
                    <b><a class="red" href="{% url 'whoisvygem' %}">Introducing VYGEM</a>,</b>
                    <br>
                     <p>
                        an innovative application engineered for the valuation of gemstones, addressing the challenge posed by the lack of
                a standardized pricing system in the gem market.
                It's important to note that our program calculates price per carat based on prevailing market price trends,
                rather than a fixed standard. Developed through the collaborative expertise of seasoned gem mologists,
                coupled with cutting-edge artificial intelligence and real-time gemstone market monitoring,
                Vygem offers a user-friendly platform suitable for both experienced professionals and newcomers in the realm
                of precious stone assessment.
                    </p>
                    <pre ><a class="red" href="{% url 'download' %}">Download</a>      <a class="red" href="{% url 'pay' %}">Free and paid versions of Vygem</a>      <a class="red" href="{% url 'refund' %}">Refund Policy</a></pre>


            </div>
        </article>

        <article class="grid splines-block relative">
            <div id="first-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/gemname.html">Choose Name</a>
            </div>
             <img src="{% static '/pages/img/name_mini.png' %}" alt="">
        </div>

        <div id="second-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/shape_gemstone.html">Choose Shape</a>
            </div>
             <img src="{% static '/pages/img/shape_mini.png' %}" alt="">
        </div>

        <div id="third-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/clarity_gems.html">Choose Clarity</a>
            </div>
             <img src="{% static '/pages/img/clarity_mini.png' %}" alt="">
        </div>

         <div id="fourth-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/brilliancy_gemstones.html">Choose Brilliancy</a>
            </div>
             <img src="{% static '/pages/img/brilliancy_mini.png' %}" alt="">
        </div>

         <div id="fifth-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/transparency_gemstone.html">Choose Transparency</a>
            </div>
             <img src="{% static '/pages/img/transparent_mini.png' %}" alt="">
        </div>

        <div id="sixth-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/color_gemstones.html">Choose Color</a>
            </div>
             <img src="{% static '/pages/img/color_mini.png' %}" alt="">
        </div>

        <div id="seventh-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/cut_gemstones.html">Choose Cut</a>
            </div>
             <img src="{% static '/pages/img/cut_mini.png' %}" alt="">
        </div>

         <div id="eighth-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/price_per_carat.html">Choose Weight</a>
            </div>
             <img src="{% static '/pages/img/carat_mini.png' %}" alt="">
        </div>

         <div id="ninth-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/result.html">Choose Result</a>
            </div>
             <img src="{% static '/pages/img/average_mini.png' %}" alt="">
        </div>

         <div id="tenth-point" style="display: flex; align-items: center;">
            <div style="writing-mode: vertical-rl; transform: rotate(180deg);">
                <a href="/app/templates/pages/gemologist.html">Choose Gemologists</a>
            </div>
             <img src="{% static '/pages/img/gemologist_mini.png' %}" alt="">
        </div>

        </article>


        <link rel="stylesheet" type="text/css" href="{% static '/app/pages/css/main.css' %}" />

    </section>

{% endblock %}

