{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section class="flex pay__content">
        {% with card|safe as content %}
            {% include "../components/card.html" with card_content=content %}
        {% endwith %}
        <figure><img src="{% static 'pages/img/pay1.png' %}" alt=""></figure>
    </section>

    <section class="flex flex-img-list">
         <figure><img src="{% static '/pages/img/lemonsqueezy.png' %}" alt="lemonsqueezy"></figure>


     </section>

    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/pay.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>
{% endblock %}