{% extends '../app/base.html' %}
{% load static %}

{% block content %}
    <section class="flex price_per_carat__content">
        {% with card|safe as content %}
        {% include "../components/card.html" with card_content=content %}
        {% endwith %}
        <figure><img src="{% static 'pages/img/carat.png' %}" alt="weight of gems"></figure>
    </section>
    <div>
        {% for item in list %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/price_per_carat.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>
{% endblock %}