{% extends '../app/base.html' %}
{% load static %}

{% block google_tag_manager %}<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WHGC4VW4');</script>
<!-- End Google Tag Manager -->{% endblock %}

{% block keywords %}
    mobile, application, app, gemstone
{% endblock %}

{% block title %}
    Vygem - Home Page
{% endblock %}

{% block description %}
    We may employ third-party companies and individuals to facilitate our App
{% endblock %}


{% block content %}
    <section class="flex shape__content">
        {% with card|safe as content %}
        {% include "../components/card.html" with card_content=content %}
        {% endwith %}
    </section>
    <link rel="stylesheet" type="text/css" href="{% static '/pages/css/shape.css' %}" />
    <p><b><a href="{% url 'main' %}" style="color: #A80404">Back</a></b></p>
{% endblock %}