{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block google_tag_manager %}{% endblock %}

    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel="stylesheet" type="text/css" href="{% static '/app/css/base.css' %}" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-89XEP5L8YD"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

      gtag('config', 'G-89XEP5L8YD');
    </script>
</head>
<body class="page-container">
    {% block google_tag %} <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WHGC4VW4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->{% endblock %}
    {% include './header.html' %}
    <main>
        {% if page_title != '' %} <h2 class="page-title">{{ page_title | upper }}</h2> {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    {% include './footer.html' %}
</body>
</html>