{% load static %}
<footer>
    <ul>
        <li><p>general questions                                     <a class="red" href="mailto:info@vygem.info">info@vygem.info</a></li></p>
        <li><p>questions about the application   <a class="red" href="mailto:functionality@vygem.info">functionality@vygem.info</a></li></p>

    </ul>
    <a href="/terms">Terms and Conditions </a>
    <a href="/privacy">Privacy Policy </a>

    <link rel="stylesheet" type="text/css" href="{% static '/app/css/footer.css' %}" />
</footer>